openapi: 3.0.3
info:
  title: BrightAI Governance API
  version: "1.0.0"
  description: API بسيط لاسترجاع قوائم حوكمة الذكاء الاصطناعي ومتطلبات الامتثال في المملكة العربية السعودية.
servers:
  - url: https://brightai.site
paths:
  /api/governance/checklist:
    get:
      operationId: getGovernanceChecklist
      summary: قائمة التحقق من حوكمة AI
      description: يعيد قائمة تحقق عملية لحوكمة أنظمة الذكاء الاصطناعي، تشمل المخاطر، الامتثال، الأمان، والموافقات البشرية.
      responses:
        "200":
          description: قائمة تحقق حوكمة الذكاء الاصطناعي.
          content:
            application/json:
              schema:
                type: object
                properties:
                  checklist:
                    type: array
                    items:
                      $ref: "#/components/schemas/GovernanceChecklistItem"
              example:
                checklist:
                  - id: risk-classification
                    title: تصنيف مخاطر نظام الذكاء الاصطناعي
                    description: تحديد مستوى المخاطر وتأثير النظام على الأفراد والعمليات والامتثال.
                    category: risk
                  - id: human-approval
                    title: الموافقات البشرية
                    description: توثيق الحالات التي تتطلب مراجعة أو اعتماد بشري قبل تنفيذ قرار حساس.
                    category: governance
  /compliance/{framework}:
    get:
      operationId: getComplianceRequirements
      summary: متطلبات الامتثال
      description: يعيد متطلبات امتثال مختصرة لإطار تنظيمي محدد مثل PDPL أو NCA ECC أو SDAIA أو SAMA.
      parameters:
        - name: framework
          in: path
          required: true
          description: اسم إطار الامتثال المطلوب.
          schema:
            type: string
            enum:
              - PDPL
              - NCA-ECC
              - SDAIA
              - SAMA
      responses:
        "200":
          description: متطلبات الامتثال للإطار المحدد.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ComplianceFramework"
              example:
                framework: PDPL
                title: نظام حماية البيانات الشخصية
                requirements:
                  - تحديد الغرض النظامي من معالجة البيانات.
                  - توثيق موافقات أصحاب البيانات عند الحاجة.
                  - تطبيق ضوابط حماية البيانات وتقليل الوصول غير الضروري.
        "404":
          description: لم يتم العثور على إطار الامتثال المطلوب.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                error: framework_not_found
                message: إطار الامتثال المطلوب غير مدعوم.
components:
  schemas:
    GovernanceChecklistItem:
      type: object
      required:
        - id
        - title
        - description
        - category
      properties:
        id:
          type: string
        title:
          type: string
        description:
          type: string
        category:
          type: string
          enum:
            - risk
            - compliance
            - security
            - governance
    ComplianceFramework:
      type: object
      required:
        - framework
        - title
        - requirements
      properties:
        framework:
          type: string
        title:
          type: string
        requirements:
          type: array
          items:
            type: string
    ErrorResponse:
      type: object
      required:
        - error
        - message
      properties:
        error:
          type: string
        message:
          type: string
